<h2>Bike Service History</h2>

<form method="post">
    {% csrf_token %}
    <input type="text" name="reg_no" placeholder="Enter Bike Number" required>
    <button type="submit">Search</button>
</form>

{% if bike %}
  <h3>Bike: {{ bike.bike_name }} ({{ bike.bike_number }})</h3>
  <p><b>Owner:</b> {{ bike.user.username }}</p>


{% for service in history %}
<hr>

<p><b>Date:</b> {{ service.date|date:"d M Y" }}</p>

<p><b>Problem:</b> {{ service.problem }}</p>

<p><b>Mechanic:</b> {{ service.mechanic }}</p>

<b>Spare Parts Used:</b>
<ul>
  {% for part in service.parts %}
    <li>{{ part.spare_part.name }} – {{ part.quantity }}</li>
  {% empty %}
    <li>No parts used</li>
  {% endfor %}
</ul>
{% endfor %}

{% endif %}
